.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 131px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 177px;
  margin: 21px -458px 0 458px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 31px auto 60px 473px;
  padding: 28px 64px 29px 63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}